{% extends "header.html" %}
{% block title %}Unic Project - Add Project{% endblock %}

{% block style%} 

.login input{
    border:0.5px solid grey;
    background:none;
    padding: 2% 0 2% 0;
    transition:0.3s;
  }
  .login input:hover{
    background-color:#3581fc;
    color:white;
    border:0.5px solid #3581fc;
  }

{% endblock %}

  {% block option %}
  <li><a href="logout.php">LOGOUT</a></li>
  {% endblock %}

  {% block body %}
  <div id="projects" class="projects row">
    <h1>ADD</h1><hr>
    <h4>Ready - Type - Post</h4>
      <div class="project col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table>
        <form method="GET" action="add.php">
        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">PROJECT NAME :<hr></span>
            <input type="text" name="projectname" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">CLIENT :<hr></span>
            <input type="text" name="clientname" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">DESCRIPTION :<hr></span>
            <textarea name="description" class="col-xs-12 col-sm-12 col-md-12"></textarea>
        </span>
        </td></tr>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">PROJECT IMAGE :<hr></span>
            <input type="file" id="file" name="file" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>
        
         <tr><td>
        <span class="login col-xs-12 col-sm-12 col-md-12">
            <input type="submit" id="add" value="ADD" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>
        </form>
        </table>
      </div>
  </div>
  {% endblock %}