{% extends "header.html" %}
{% block title %}Unic Project - Add Project{% endblock %}

{% block style%} 

.login input{
    border:0.5px solid grey;
    background:none;
    padding: 2% 0 2% 0;
    transition:0.3s;
  }
  .login input:hover{
    background-color:#3581fc;
    color:white;
    border:0.5px solid #3581fc;
  }

{% endblock %}


{% block script1 %}
 $(document).ready(function() {

  function opacity(){
          document.getElementById("projects").style.opacity = "1";
        }

  function transform(){
    document.getElementById("projects").style.transform = "translateX(0px)";
    }
    setTimeout(opacity, 100);
    setTimeout(transform,100);
        });

{% endblock %}


  {% block option %}
  <li><a href="logout.php">LOGOUT</a></li>
  {% endblock %}

{% block body %}
  
  <div id="projects" class="projects row">
    <h1>EDIT</h1><hr>
    <h4>Choose - Edit - Done</h4>
      <div class="project col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table>
        <form method="post" action="edit.php" enctype="multipart/form-data">
        {% for project in projects %}
        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
        <input type="hidden" name="hidden" value="{{project['id']}}">
            <span class="col-xs-12 col-sm-12 col-md-6">PROJECT NAME :<hr></span>
            <input type="text" name="projectname" value="{{ project['projectname'] }}" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">CLIENT :<hr></span>
            <input type="text" name="clientname" value ="{{ project['clientname'] }}" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">DESCRIPTION :<hr></span>
            <textarea name="description" class="col-xs-12 col-sm-12 col-md-12">{{ project['description'] }}</textarea>
        </span>
        </td></tr>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">PROJECT IMAGE :<hr></span>
            <input type="file" id="file" name="images" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>
        
         <tr><td>
        <span class="login col-xs-12 col-sm-12 col-md-12">
            <input type="submit" id="edit" value="UPDATE" name="update" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>
        {% endfor %}
        </form>
        </table>
      </div>
  </div>
{% endblock %}