  {% extends "header.html" %}
  {% block title %}Unic Project{% endblock %}
 
  {% block script1 %}
    $(document).ready(function() {

      $(document).scroll(function(){

        function opacity(){
          document.getElementById("projects").style.opacity = "1";
        }

        function opacity1(){
          document.getElementById("services").style.opacity = "1";
        }

        function transform(){
          document.getElementById("projects").style.transform = "translateX(0px)"; 
        }

        function transform1(){
          document.getElementById("services").style.transform = "translateX(0px)"; 
        }

        var docScroll = $(document).scrollTop(), 
            distance = $(".projects").offset().top - 400;
            distance1 = $(".services").offset().top - 600;
     
        if(docScroll >= distance ){
         setTimeout(opacity, 100);
         setTimeout(transform,100);
        }

        if(docScroll >= distance1 ){
         setTimeout(opacity1, 100);
         setTimeout(transform1,100);
        }

      }) 
    });
{% endblock %}

{% block style %}
  
  .projects , .services{
    width:80%;
    margin-top:50px;
    opacity: 0;
    transition:1s;
    transform: translateX(-50px); 
  }
  .projects h1 , .services h1{
    font-family: Oswald, sans-serif;
    font-size:50px;
    letter-spacing: 5px;
  }
  .projects b , .services b{
    color:#3581fc;
  }

  .project ul,li{
    padding:0;
  }
  .service{
    margin-top:50px;
  }
  .serv-button{
    background-color:rgba(64, 65, 66,0.2);
    border-radius: 100%;
    transition: 0.3s;
  }
  .service hr{
    width:50%;
    border:1px solid #f2a73e;
  }
  .serv-button:hover{
    background-color:rgba(51, 153, 255,0.5);
  }

{% endblock %}

{% block body %}


  <div class="row">
    <div class="hello col-xs-12 col-sm-12">
      <div class="message">
        <p>LET'S MAKE SOMETHING</p><p>-AWESOME-</p>
          <div class="hellobutton col-xs-12 col-sm-12 col-md-12">
            <a href="project.php" class="hellobutton1">SEE US!</a>
            <a href="contact.html" class="hellobutton2">LET'S WORK!</a>
          </div>
      </div>
    </div>
  </div>
  
  <div id="projects" class="projects row">
    <h1>OUR JOURNEY SO FAR</h1>
    <h3>These pictures resemble our <b>passion</b>.</h3>
      <div class="project col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
        {% for project in projects %}
        <li><a href="#"><img src="{{project['image']}}" class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></a></li>
        {% endfor %}
        </ul>
      </div>
  </div>

  <div id="serv"></div>
  <div id="services" class="services row">
    <h1>WHAT WE DO</h1>
    <h3>We provide the <b>best</b> services for our clients.</h3>
    <div class="service">
      <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="#"><img src="image/mainpage/content/branding-01.svg" class="serv-button"></a><br><br>
      <h3 class="logo-text">BRANDING IDENTITY<hr></h3></div>
      <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="#"><img src="image/mainpage/content/design-01.svg" class="serv-button"></a><br><br>
      <h3 class="logo-text">GRAPHIC DESIGN<hr></h3></div>
      <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="#"><img src="image/mainpage/content/advertise-01.svg" class="serv-button"></a><br><br>
      <h3 class="logo-text">ADVERTISEMENT<hr></h3></div>
    </div>
  </div>
{% endblock %}