{% extends "header.html" %}
{% block title %} Unic Project - Login {% endblock %}
  
{% block style%} 

.login input{
    border:0.5px solid grey;
    background:none;
    padding: 2% 0 2% 0;
    transition:0.3s;
  }
  .login input:hover{
    background-color:#3581fc;
    color:white;
    border:0.5px solid #3581fc;
  }

{% endblock %}


{% block body %}
  
  <div id="projects" class="projects row">
    <h1>LOGIN</h1><hr>
    <h4>Login - Enter - Awesome</h4>
      <div class="project col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">USERNAME :<hr></span>
            <input type="text" name="username" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>

        <tr><td>
        <span class="projectname col-xs-12 col-sm-12 col-md-12">
            <span class="col-xs-12 col-sm-12 col-md-6">PASSWORD :<hr></span>
            <input type="password" name="password" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>
        
         <tr><td>
        <span class="login col-xs-12 col-sm-12 col-md-12">
            <input type="submit" id="login" value="LOGIN" class="col-xs-12 col-sm-12 col-md-12">
        </span>
        </td></tr>
        </table>
      </div>
  </div>

{% endblock %}

  
{% block script %}
<script type="text/javascript">
  $("#login").on("click",function(event){
    var username = $(this).parent().parent().parent().parent().find("input[type=text]").val();
    var password = $(this).parent().parent().parent().parent().find("input[type=password]").val();
    console.log($(this).parent().parent().parent());
    console.log(username);
    console.log(password);
    $.ajax({
      type:"GET",
      url:"login.php?username="+username+"&password="+password ,

      success: function(data){
        if(data == 0){
          alert("Username or Password Wrong");
        }
        else{
          location.replace("admin.php");
        }
      }
    })
  });
</script>
{% endblock %}