{% extends "header.html" %}
  {% block title %}Unic Project - Projects{% endblock %}
  
{% block body %}
  <div class="row">
    <div class="hello col-xs-12 col-sm-12">
      <div class="message">
        <p>OUR GREATEST</p><p>-MASTERPIECE-</p>
      </div>
    </div>
  </div>
  
  <div id="projects" class="projects row">
    <h1>PROJECTS</h1><hr>
    <h4>Team - Work - Trust</h4>
      <div class="project col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table>
        {% for project in projects %}
        <tr><td>
        <a href="#"><img src="{{project['image']}}" class="col-xs-12 col-sm-12 col-md-2"></a>
        <span class="projectname col-xs-12 col-sm-12 col-md-9">
            <a href="#" class="col-xs-12 col-sm-12 col-md-4">{{project['projectname']}}<hr></a>
            <span class="col-xs-12 col-sm-12 col-md-12">          
            Client : {{project['clientname']}}<br><br>
            {{project['description']}}
            </span>
        </span>
        </td></tr>
        {% endfor %}
        </table>
      </div>
  </div>

{% endblock %}